@import "tailwindcss";


body{
    background-color: #121214 ;
    color: #c4c4cc;
    -webkit-font-smoothing: antialised;
}

body, input, textarea, button{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

:focus{
    outline:transparent ;
    box-shadow: 0 0 0 2px #00875f;
}